---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import { URL_BASE } from "@/config";
import FooterTrivia from "@/components/FooterTrivia.astro";
import TriviaGame from "@/components/TriviaGame.astro";
---

<Layout>
  <div
    class="min-h-screen flex flex-col bg-purple-abbott bg-cover bg-left lg:bg-center text-white "
    style={`background-image: url(${URL_BASE}/images/bg-questions.webp);`}
  >
    <Header />
    <main
      class="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto p-4 pb-0 md:pb-0 md:p-6 gap-4 flex-1 "
    >
      <section>
        <img
          src={`${URL_BASE}/images/womans-questions.webp`}
          alt="Mujeres Abbott"
          class="w-auto h-full"
        />
      </section>
      <section>
        <TriviaGame />
      </section>
    </main>
    <FooterTrivia />
  </div>
</Layout>
