---
import LogoFooter from "./LogoFooter.astro";
---

<footer
  class="lg:-mt-20 w-7xl max-w-full flex-col-reverse lg:flex-row mx-auto p-4 md:p-6 flex gap-8 justify-between items-center lg:items-end"
>
  <div>
    <p class="text-xs">MATERIAL EXCLUSIVO PARA EL CUERPO MÉDICO</p>
  </div>
  <div class="flex-1 flex flex-wrap gap-8 justify-center lg:justify-end">
    <LogoFooter height="h-8" url="mia.webp" alt="Logo Mia" />
    <LogoFooter height="h-8" url="mia20.webp" alt="Logo Mia 20" />
    <LogoFooter height="h-8" url="bellaface.webp" alt="Logo Bellaface" />
    <LogoFooter height="h-8" url="postday.webp" alt="Logo Postday" />
    <LogoFooter height="h-8" url="nofertyl.webp" alt="Logo Nofertyl" />
  </div>
</footer>
